body.dark {
  background-color: $dark-background-color;
  text-shadow: $dark-text-shadow;
  color: $dark-light-font-color;

  // home
  .home-header {
    color: $dark-light-font-color;
  }

  .bio {
    .author-name-content {
      background-color: $dark-category-border-color;
    }
    .author-introduction {
      color: $dark-middle-font-color;
    }
    a {
      color: $dark-link-color;
    }
  }

  .category-container {
    border-top: 1px solid $dark-category-border-color;
    border-bottom: 1px solid $dark-category-border-color;
    border-right: 6px solid $dark-category-border-color;
    border-left: 6px solid $dark-category-border-color;
    background-color: $dark-category-background-color;
    .item {
      border: 1px solid $dark-category-border-color;
      background-color: $dark-category-item-color;
      -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
      box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
      a {
        color: $dark-category-text-color;
      }
      &[aria-selected='true'] {
        border: 2px solid $dark-category-highlight-border-color;
        font-weight: bolder;
      }
      &[aria-selected='true'] a {
        color: $dark-category-highlight-text-color;
      }
    }
  }

  .thumbnail {
    h3 {
      color: $dark-light-font-color;
    }
    p {
      color: $dark-middle-font-color;
    }
    &:hover {
      text-shadow: $dark-hover-text-shadow;
    }
  }

  .footer {
    color: $dark-middle-font-color;
    a {
      color: $dark-lightest-font-color;
    }
  }

  // post
  blockquote {
    padding: 1.2em;
    margin-bottom: 1.5em;
    background-color: #474c57;
    border-left: 5px solid $dark-link-color;
    color: #fff;
  }
  h1 {
    border-bottom: none;
    text-align: center;
  }
  h2 {
    border-bottom: none;
    color: $dark-link-color;
    font-size: 1.8em;
  }
  .home-header {
    text-align: start;
  }

  .navigator {
    a {
      background-color: $navigator-background-color;
      color: $navigator-text-color;
    }
  }
  td {
    border-bottom: 1px solid #eee;
  }

  nav.container {
    .contents {
      ul > li a.isCurrent {
        font-weight: 800;
        color: #fff;
      }
    }
  }

  /* Inline code */
  :not(pre) > code[class*='language-'] {
    padding: 0.1em 0.6em;
    border-radius: 0.2em;
    white-space: normal;
    background: transparent;
    color: $inline-dimmed-color;
    border: 1px solid $inline-dimmed-color;
  }
}
